*{
  margin:0; padding:0;
}
li {
  list-style: none;
}

.habbit {

}

.habbit-count {
  display: inline-block;
  border-radius: 50px;
  border:1px solid burlywood;
  width:25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.habbit-button {
  border:0;
  background-color: transparent;
}